<h1>Greetings#hello</h1>
<p>Find me in app/views/greetings/hello.html.erb</p>
<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="sidebar" class="col-xs-3">
      <!-- sidebar content -->
    </div>
    <div id="main-content" class="col-xs-9">
      <!--  main content -->
    </div>
  </div>
  <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-3">
          <h3>Tealeaf Academy Todo</h3>
        </div>
        <div class="col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-6">1</div>
            <div class="col-xs-6">2</div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-6">3</div>
            <div class="col-xs-6">4</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>